body
{
    margin: 0;
    padding: 0;
    border: 0;
}

.container
{
    width: 1160px;
    margin: 0 auto;
}

#left-menu
{
    width: 240px;
    height: 100%;
    background-color: red;
    position: fixed;
    opacity: 0.8;
}

ul#poni
{
    list-style: none;
    margin: 0 auto;
}

    ul#poni li
    {
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px;
        float: left;
    }
