body
{
    margin: 0;
    padding: 0;
    border: 0;
}

.container
{
    width: 760px;
    background-color: #cfffe4;
}

    .container #header
    {
        background-image: url(images/spliff.jpg);
        height: 186px;
    }

    .container #question
    {
        background-color: white;
        width: 90%;
        height: 500px;
        margin: 0 auto;
    }